[submodule "WhisperLive"]
	path = services/WhisperLive
	url = https://github.com/collabora/WhisperLive.git
[submodule "vexa-bot-submodule"]
	path = services/vexa-bot
	url = https://github.com/dicegrabbing/vexa-bot.git
